<div class="container-fluid">
  <h2 class="center mt-2">Ejercicio</h2>

  <ol>
    <li>
      Crear un service articulo.service.ts y generar una funcion que obtenga el
      listado de art&iacute;culos de la API ofrecida
    </li>
    <br />
    <li>
      Crear un routeo para ir desde esta pagina a la seccion art&iacute;culos
    </li>
    <br />
    <li>Implementar un framework de CSS a elecci&oacute;n</li>
    <br />
    <li>
      Listar los art&iacute;culos con un
      <span class="bold">diseño agradable y responsive</span>
    </li>
    <br />
    <li>
      Poder editar el nombre del articulo y guardarlo
    </li>
    <br />

    <h3 class="center">Informaci&oacute;n importante</h3>

    <ul>
      <li>
        En la carpeta services/core se encuentra el http-client.ts, el cual se
        debe usar para consumir la API.
      </li>
      <br />
      <li>
        El endpoint a consumir es entrevista/articulos
        <a
          href="https://6050ad9e53460900176703c6.mockapi.io/api/entrevista/articulos"
          >LINK</a
        >
      </li>
    </ul>
  </ol>
</div>
